{% extends 'base.html' %}

{% block content %}



    <main id="main" class="main-page">

        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h2>CRESCITA '20 ACCOMODATION</h2>
                    <p>FAQ</p>
                </div>

                <div class="row">
                    <ul>
                        <li>
                            Accomodation will be provided in the college hostel and allocation or rooms will be as per the request of the participant.
                        </li>
                        <li>
                            The participants will be provided with food and facilities for freshening up according to their need. 
                        </li>
                        <li>
                            An amount of Rs.250 will be charged per day for accomodation inclusive of food (breakfast, lunch and dinner). 
                        </li>
                        <li>
                            Accomodation without food per day can be arranged if required.
                        </li>
                        <li>
                            For the participants attending workshops and events, lunch will be arranged on request.
                        </li>

                    </ul>
                    <br>
                    <p>
                        For any further information, feel free to contact: 
                        <br>
                        Amal Kurian : 9446034095
                        <br>
                        Jerusha : 9207574692
                        <br>
                    </p>
                </div>

            </div>

        </section>


    </main>

{% endblock %}
