{% extends 'base.html' %}
{% block content %}
<main id="main" class="main-page">
  <!--==========================
  Single Event Details Section
    ============================-->
  <section
    id="speakers-details"
    class="wow fadeIn"
    style="visibility: visible; animation-name: fadeIn;"
  >
    <div class="container">
      <div class="section-header">
        <h2>College Representative Program</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img
            src="https://crescita.s3.amazonaws.com/media/camp2.jpeg"
            alt="Speaker 1"
            class="img-fluid"
          />
        </div>

        <div class="col-md-6" style="padding: 0px 3%;">
          <div class="details" style="padding-left: 2%;">
            <br />Do you think you have the drive and charisma to take charge
            and lead your peers? Then get ready to become the College
            Representative for Crescita '20. This January, you'll have the
            golden chance to be the voice of Crescita in your college and bring
            in crowds to experience and explore. The program showering benefits
            from appreciation CRP (college representative program) certificates,
            extra coupons with all other beneficiaries, to free registrations
            for competitive events and intellectual workshops. Barge in and grab
            them all if you think YOU are the ONE !!

            <br /><br />As a CR, you will:<br />
            <ul>
              <li>
                Act as a point of contact for Crescita '20 in your college, and
                inform your peers about our events and activities through
                various means, including Social Media.
              </li>
              <li>
                Ensure maximum participation from your college in workshops and
                competitions, and help them to inquire about event details.
              </li>
            </ul>

            <br /><br />One will be called a successful CR if he/she can bring
            at least 10 participants during the fest.

            <br /><br /><b>Incentives</b><br />
            <ol>
              <li>
                Certification of Appreciation awarded on completion of the
                College Representative Program.
              </li>
              <li>Attractive goodies and all beneficiary coupons</li>
              <li>
                CRs with atleast 10 participants avails free event passes
                and&nbsp; 20+ participants avails a free workshop pass.
              </li>
              <li>Free accommodation provided for the above mentioned CRs.</li>
              <li>
                Reimbursement of one-way sleeper ticket for CRs bringing 20+
                participants.
              </li>
            </ol>

            <br /><br />So what are you waiting for? <br /><br />Join us on
            <b>18th and 19th of January 2020</b>
            <br />
            <br />
            <p style="font-size: 1.25rem; font-weight: bold;"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}