{% extends 'base.html' %}
{% block content %}

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">
      <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0">CRESCITA 20</h1>
        <p class="mb-4 pb-0">
          National Level Civil Engineering Techno-Cultural Fest
        </p>
        <p class="mb-4 pb-0">8th-10th February</p>

        <a
          href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
          class="venobox play-btn mb-4"
          data-vbtype="video"
          data-autoplay="true"
        ></a>
        <a href="#about" class="about-btn scrollto">About The Event</a>
      </div>
    </section>

    <main id="main">
      <!--==========================
      About Section
    ============================-->
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2>About The Event</h2>
              <p>
                Sed nam ut dolor qui repellendus iusto odit. Possimus inventore
                eveniet accusamus error amet eius aut accusantium et. Non odit
                consequatur repudiandae sequi ea odio molestiae. Enim possimus
                sunt inventore in est ut optio sequi unde.<a
                  href="#"
                  class="item-link"
                  >Read More <i class="fa fa-arrow-right"></i
                ></a>
              </p>
            </div>
            <div class="col-lg-3">
              <h3>Where</h3>
              <p>Downtown Conference Center, New York</p>
            </div>
            <div class="col-lg-3">
              <h3>When</h3>
              <p>Monday to Wednesday<br />10-12 December</p>
            </div>
          </div>
        </div>
      </section>

      <!--==========================
      Events Section
    ============================-->
      <section id="speakers" class="wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>Events</h2>
            <p>Here are our Events</p>
          </div>

          <div class="row">
            {% for catagory in catagories %}
            <div class="col-lg-4 col-md-6">
              <div class="speaker">
                <img
                  src="{{ catagory.thumbnail.url }}"
                  alt="Speaker 1"
                  class="img-fluid"
                />
                <div class="details">
                  <h3>
                    <a href="/{{ catagory.slug }}">{{ catagory.name }}</a>
                  </h3>
                  <p>{{ catagory.desc }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <!--==========================
      Venue Section
    ============================-->
      <section id="venue" class="wow fadeInUp">
        <div class="container-fluid">
          <div class="section-header">
            <h2>Event Venue</h2>
            <p>Event venue location info and gallery</p>
          </div>

          <div class="row no-gutters">
            <div class="col-lg-6 venue-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0"
                style="border:0"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-lg-6 venue-info">
              <div class="row justify-content-center">
                <div class="col-11 col-lg-8">
                  <h3>Downtown Conference Center, New York</h3>
                  <p>
                    Iste nobis eum sapiente sunt enim dolores labore accusantium
                    autem. Cumque beatae ipsam. Est quae sit qui voluptatem
                    corporis velit. Qui maxime accusamus possimus. Consequatur
                    sequi et ea suscipit enim nesciunt quia velit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid venue-gallery-container">
          <div class="row no-gutters">
            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a
                  href="img/venue-gallery/1.jpg"
                  class="venobox"
                  data-gall="venue-gallery"
                >
                  <img src="img/venue-gallery/1.jpg" alt="" class="img-fluid" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a
                  href="img/venue-gallery/2.jpg"
                  class="venobox"
                  data-gall="venue-gallery"
                >
                  <img src="img/venue-gallery/2.jpg" alt="" class="img-fluid" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a
                  href="img/venue-gallery/3.jpg"
                  class="venobox"
                  data-gall="venue-gallery"
                >
                  <img src="img/venue-gallery/3.jpg" alt="" class="img-fluid" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a
                  href="img/venue-gallery/4.jpg"
                  class="venobox"
                  data-gall="venue-gallery"
                >
                  <img src="img/venue-gallery/4.jpg" alt="" class="img-fluid" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a
                  href="img/venue-gallery/5.jpg"
                  class="venobox"
                  data-gall="venue-gallery"
                >
                  <img src="img/venue-gallery/5.jpg" alt="" class="img-fluid" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a
                  href="img/venue-gallery/6.jpg"
                  class="venobox"
                  data-gall="venue-gallery"
                >
                  <img src="img/venue-gallery/6.jpg" alt="" class="img-fluid" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a
                  href="img/venue-gallery/7.jpg"
                  class="venobox"
                  data-gall="venue-gallery"
                >
                  <img src="img/venue-gallery/7.jpg" alt="" class="img-fluid" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a
                  href="img/venue-gallery/8.jpg"
                  class="venobox"
                  data-gall="venue-gallery"
                >
                  <img src="img/venue-gallery/8.jpg" alt="" class="img-fluid" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--==========================
      Gallery Section
    ============================-->
      <!-- <section id="gallery" class="wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>Gallery</h2>
            <p>Check our gallery from the previous events</p>
          </div>
        </div>

        <div class="owl-carousel gallery-carousel">
          <a
            href="img/gallery/1.jpg"
            class="venobox"
            data-gall="gallery-carousel"
            ><img src="img/gallery/1.jpg" alt=""
          /></a>
          <a
            href="img/gallery/2.jpg"
            class="venobox"
            data-gall="gallery-carousel"
            ><img src="img/gallery/2.jpg" alt=""
          /></a>
          <a
            href="img/gallery/3.jpg"
            class="venobox"
            data-gall="gallery-carousel"
            ><img src="img/gallery/3.jpg" alt=""
          /></a>
          <a
            href="img/gallery/4.jpg"
            class="venobox"
            data-gall="gallery-carousel"
            ><img src="img/gallery/4.jpg" alt=""
          /></a>
          <a
            href="img/gallery/5.jpg"
            class="venobox"
            data-gall="gallery-carousel"
            ><img src="img/gallery/5.jpg" alt=""
          /></a>
          <a
            href="img/gallery/6.jpg"
            class="venobox"
            data-gall="gallery-carousel"
            ><img src="img/gallery/6.jpg" alt=""
          /></a>
          <a
            href="img/gallery/7.jpg"
            class="venobox"
            data-gall="gallery-carousel"
            ><img src="img/gallery/7.jpg" alt=""
          /></a>
          <a
            href="img/gallery/8.jpg"
            class="venobox"
            data-gall="gallery-carousel"
            ><img src="img/gallery/8.jpg" alt=""
          /></a>
        </div>
      </section> -->

      <!--==========================
      Sponsors Section
    ============================-->
      <!-- <section id="supporters" class="section-with-bg wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>Sponsors</h2>
          </div>

          <div class="row no-gutters supporters-wrap clearfix">
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="img/supporters/1.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="img/supporters/2.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="img/supporters/3.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="img/supporters/4.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="img/supporters/5.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="img/supporters/6.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="img/supporters/7.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="img/supporters/8.png" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section> -->
    </main>
{% endblock %}