{% extends 'base.html' %}
{% block content %}

    <main id="main" class="main-page">
      <!--==========================
     Single Event Details Section
      ============================-->
      <section id="speakers-details" class="wow fadeIn">
        <div class="container">
          <div class="section-header">
            <h2>{{ event.name }}</h2>
          </div>

          <div class="row">
            <div class="col-md-6">
              <img
                src="{{ event.banner_image.url }}"
                alt="Speaker 1"
                class="img-fluid"
              />
            </div>

            <div class="col-md-6" style="padding: 0px 3%;">
              <div class="details" style="padding-left: 2%;">
                {{ event.desc | safe }}
                <br />
                <br />
                <p style="font-size: 1.25rem; font-weight: bold;">
                  {% if event.event_start %} 
                  Date : {{ event.event_start|date:"l, d M Y" }} 
                  {% endif %}
                </p>
                {% if event.organizer_1 or event.organizer_2 %}
                <p
                  style="font-size: 1.175rem; font-weight: bold; margin: 20px 0px;"
                >
                  Coordinators:
                </p>
                <div class="row" style="font-weight: bold; font-size: 1.15rem;">
                  <div class="col-md-4">
                    <div
                      style="width: 3px;height: 60px;background: #f82249;"
                    ></div>
                  </div>
                  <div class="col-md-4" style="margin-left: -157px;">
                    <p>
                      {% if event.organizer_1 %} {{ event.organizer_1 }} : {{ event.organizer_1.phone }} {% endif %}
                    </p>
                  </div>
                  <div
                    class="col-md-4"
                    style="margin-left: -177px; margin-top: 30px;"
                  >
                    <p>
                      {% if event.organizer_2 %} {{ event.organizer_2 }} : {{ event.organizer_2.phone }} {% endif %}
                    </p>
                  </div>
                </div>
                {% endif %}
              </div>
              {% if event.reg_link %}
              <a href="{{ event.reg_link }}"
                ><button
                  style="color: #fff;background: #f82249;padding: 7px 22px;border-radius: 35px;border: 8px solid #f82249;transition: all ease-in-out 0.3s;font-weight: 550;margin-top: 40px;line-height: 1;font-size: 13px;"
                  onclick=""
                >
                  Register Now
                </button></a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </main>

{% endblock %}